.watch{
    overflow: hidden;
    padding-top: 65px;
}
.movieWatch{
    padding: 30px 40px;
    color: var(--text-color);
}
.movieWatchDesc > *{
    margin-bottom: 10px;
}
.movieWatchTitle{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.movieWatchAll a{
    font-weight: 700!important;
    text-transform: capitalize;
    color: var(--btn-color);
}
.movieWatchAll,.movieWatchDesc{
    color: #ddd;
}
.movieWatchShare{
    position: relative;
}
.movieWatchlistBtn{
    width: 70px;
    cursor: pointer;
    margin:20px 0;
    color: #ddd;
}
.movieWatchlistBtn:hover{
    color: var(--text-color);
}
.movieWatchlistBtn div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}
/* .horizontalLine{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin: 20px 0;
} */
.trailerBox{
    margin: 20px 0;
}
.Trailer{
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 20px;
}
@media screen and (max-width:565px) {
    .movieWatch{
        padding: 30px 10px;
    }
}